<!DOCTYPE html>
<html lang="en" ng-app="APP">
<head>
	<meta charset="UTF-8">
	<title>Angular $anchorScroll</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	<div ng-controller="CtrlApp">
		<button ng-click="gotoTop()">goto Top</button>	
		<button ng-click="gotoBottom()">goto Bootom</button>	
		<button ng-click="gotoAnchor('textAnchor')">goto Anchor</button>	

		<div id="testAnchor"></div>
	</div>
	
</body>
</html>